@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #004F34;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #004F34;

  --font-primary: var(--font-kavo);
  --font-secondary: var(--font-sora);
  
  --font-sans: var(--font-secondary);
  --font-serif: var(--font-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--color-primary);
}
